[2017-11-30 18:35] wdprice opened #1 "($30) Execute Test Cases 1-10"
Execute Test Cases 1-10.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 19:12] wdprice opened #2 "($30) Execute Test Cases 1-10"
Execute Test Cases 1-10.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 19:12] wdprice opened #3 "($30) Execute Test Cases 1-10"
Execute Test Cases 1-10.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 19:59] wdprice opened #4 "($30) Execute Test Cases 11-20"
Execute Test Cases 11-20.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 19:59] wdprice opened #5 "($30) Execute Test cases 11-20"
Execute Test Cases 11-20.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:00] wdprice opened #6 "($30) Execute Test cases 11-20"
Execute Test Cases 11-20.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:00] wdprice opened #7 "($30) Execute Test Cases 21-30."
Execute Test Cases 21-30.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:00] wdprice opened #8 "($30) Execute Test Cases 21-30"
Execute Test Cases 21-30.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:01] wdprice opened #9 "($30) Execute Test Cases 21-30"
Execute Test Cases 21-30.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:01] wdprice opened #10 "($30) Execute Test Cases 31-40"
Execute Test Cases 31-40.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:02] wdprice opened #11 "($30) Execute Test Cases 31-40"
Execute Test Cases 31-40.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:02] wdprice opened #12 "($30) Execute test Cases 31-40"
Execute Test Cases 31-40.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:02] wdprice opened #13 "($30) Execute Test Cases 41-50"
Execute Test Cases 41-50.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:03] wdprice opened #14 "($30) Execute Test Cases 41-50"
Execute Test Cases 41-50.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:03] wdprice opened #15 "($30) Execute Test Cases 41-50"
Execute Test Cases 41-50.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:03] wdprice opened #16 "Execute Test Cases 51-60"
Execute Test Cases 51-60.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:04] wdprice opened #17 "($30) Execute Test Cases 51-60"
Execute Test Cases 51-60.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:04] wdprice opened #18 "($30) Execute Test Cases 51-50"
Execute Test Cases 51-60.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:05] wdprice opened #19 "($30) Execute Test Cases 61-70"
Execute Test Cases 61-70.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:05] wdprice opened #20 "($30) Execute Test Cases 61-70"
Execute Test Cases 61-70.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:06] wdprice opened #21 "($30) Execute Test Cases 61-70"
Execute Test Cases 61-70.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:06] wdprice opened #22 "($30) Execute Test Cases 71-81"
Execute Test Cases 71-81.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:06] wdprice opened #23 "($30) Execute Test Cases 71-81"
Execute Test Cases 71-81.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 20:06] wdprice opened #24 "($30) Execute Test Cases 71-81"
Execute Test Cases 71-81.

Test cases are posted in challenge forum.

Log any issues identified to this repository and include the Test Case number as a label on the issue.

Fill out the test case execution report for all test cases. The template is in the challenge forum.

You can may assign yourself one issue at a time. Upon completion of the test case execution attach your test execution report

[2017-11-30 22:58] Colinh84 commented on #1
Working on this, but cannot assign to myself at the moment.

[2017-12-01 00:15] zjuasmn commented on #3
[Test Case Execution Summary Report 1-10.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1519970/Test.Case.Execution.Summary.Report.1-10.xlsx)

[2017-12-01 00:54] zjuasmn commented on #4
[Test Case Execution Summary Report 11-20.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520027/Test.Case.Execution.Summary.Report.11-20.xlsx)

[2017-12-01 01:03] Sande3p commented on #2
[Test Case Document.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520044/Test.Case.Document.xlsx)

[2017-12-01 01:23] zjuasmn commented on #7
[Test Case Execution Summary Report 21-30.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520212/Test.Case.Execution.Summary.Report.21-30.xlsx)

[2017-12-01 01:38] zjuasmn commented on #10
[Test Case Execution Summary Report 31-40.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520207/Test.Case.Execution.Summary.Report.31-40.xlsx)

[2017-12-01 01:38] bikakk commented on #2
[Test.Case.Execution.Summary.Report.1-10.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520108/Test.Case.Execution.Summary.Report.1-10.xlsx)

[2017-12-01 01:39] zjuasmn commented on #2
Why you two working on the same issue?

[2017-12-01 01:39] Sande3p commented on #2
[Test Case Execution Summary Report.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520110/Test.Case.Execution.Summary.Report.xlsx)

[2017-12-01 01:41] Sande3p commented on #2
Please notice I've self-assigned this first

[2017-12-01 02:12] youdare commented on #24
@sdgun  Please give access
Username: youdare
Mail: karthik.r96@wipro.com

[2017-12-01 02:51] zjuasmn commented on #13
(empty)

[2017-12-01 03:04] zjuasmn commented on #16
(empty)

[2017-12-01 03:17] sdgun commented on #16
@zjuasmn If any test case fails, you must log a separate bug and label it with the appropriate  TC Set number (In this case 'TC 50-61') and Test Case # then after that, you must update the GitHub ticket link in the 'Test Case Execution Summary Report' document.

[2017-12-01 03:21] sdgun commented on #2
@Sande3p If any test case fails, you must log a separate bug and label it with the appropriate  TC Set number (In this case 'TC 1-10') and Test Case # (eg: TC#1) then after that, you must update the GitHub ticket link in the 'Test Case Execution Summary Report' document.

[2017-12-01 03:22] zjuasmn commented on #19
(empty)

[2017-12-01 03:22] sdgun commented on #3
@zjuasmn If any test case fails, you must log a separate bug and label it with the appropriate  TC Set number (In this case 'TC 1-10') and Test Case # (eg: TC#1) then after that, you must update the GitHub ticket link in the 'Test Case Execution Summary Report' document.

[2017-12-01 03:23] sdgun commented on #19
@zjuasmn If any test case fails, you must log a separate bug and label it with the appropriate  TC Set number (In this case 'TC 61-70') and Test Case # (eg: TC#1) then after that, you must update the GitHub ticket link in the 'Test Case Execution Summary Report' document.

[2017-12-01 03:23] zjuasmn commented on #16
@sdgun do you mean that we should create new issue?

[2017-12-01 03:29] sdgun commented on #16
@zjuasmn Yes, If a Test case fails (if it is a major/medium issue) you have to report a bug and update the Github issue column and assign appropriate labels. Please read the specification carefully

- Log any issues identified in this repository and include the Test Case number as a label on the issue.
- If you identify any issues of medium or higher severity log them in the repository with the Is

[2017-12-01 03:39] zjuasmn opened #25 "Notebook not created when "LOCATION" is "Style Guide Home""
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 1-10

### Reproduction Steps ###
1. Click on Create Menu
2. Click on 'Notebook' domain object
3. Give the Name with Alphabets only
4. Select "LOCATION" as "Style Guide Home"
4. Click 'OK' Button

### Expected Result ###
create notebook in "Style Guide Home" (or error message)

### Actual  Result ###
Notebook n

[2017-12-01 03:39] sdgun commented on #7
Review Fails: GitHub Issue Link not updated for FAILED TCs

[2017-12-01 03:40] sdgun commented on #10
Review Fail: GitHub Issue Link not updated for FAILED TCs

[2017-12-01 03:40] sdgun commented on #13
Review Fail: GitHub Issue Link not updated for FAILED TCs

[2017-12-01 03:41] sdgun commented on #16
Review Fail: GitHub Issue Link not updated for FAILED TCs

[2017-12-01 03:41] sdgun commented on #19
Review Fail: GitHub Issue Link not updated for FAILED TCs

[2017-12-01 03:43] sdgun commented on #25
@zjuasmn Your Test Case set has 10 test cases, This is for which one? Only select one label from TC#1 -TC#10, Attach the image

Please add correct labels you haven't assigned any TC 1-10? All of them are taken, I can see Test Cases 71-83 is your assigned ticket?

Eg: In TC 1-10, If TC5, TC8, TC9 FAILS, You have to report 3 bugs. Then you have to update the issue URL in the

[2017-12-01 03:45] zjuasmn opened #26 "Start Time & End Time fields are missing"
### Reported URL ###

<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###

TC 1-10

### Reproduction Steps ###

1. create a new notebook
2. check notebook page

### Expected Result ###

 Search Filter, Show All, Sort Order, Start Time & End time fields should be shown in the notebook page

### Actual  Result ###

 Search Filter, Show All, Sort Order fields are shown, but no Start Time

[2017-12-01 03:48] sdgun commented on #25
Please add correct labels you haven't assigned any TC 1-10? All of them are taken, I can see Test Cases 71-83 is your assigned ticket?

[2017-12-01 03:48] #25 closed

[2017-12-01 03:48] sdgun commented on #26
Please add correct labels you haven't assigned any TC 1-10? All of them are taken, I can see Test Cases 71-83 is your assigned ticket?

[2017-12-01 03:48] #26 closed

[2017-12-01 03:49] zjuasmn commented on #25
@sdgun this is a single issue that prevents creating notebook in a directory and affects all notebook creating test case. I don't think it should be reported as multiple bugs.

[2017-12-01 03:54] sdgun commented on #25
@zjuasmn You labelled this issue as TC 1-10, But you are not assigned to any TC 1-10 tickets. They are already taken. If this is not the case please assign correct labels and 'TC Number Set' in the bug report

[2017-12-01 03:54] zjuasmn commented on #26
@sdgun why close my submitted issue? Isn't that a valid issue?

[2017-12-01 03:55] sdgun commented on #26
@zjuasmn What is your assigned ticket, please? Now you haven't any active 'Assigned' tickets. You can test only those assigned tickets. Please READ THE SPECIFICATION CAREFULLY BEFORE LOGGIN BUGS'

- First Assign a ticket from 'Open for Pickup' list
- Then Execute the Test Cases
- If you encounter any failed test cases log a ticket and assign (Test Set Number - eg: TC 1-10) and Test Case # (eg: TC#

[2017-12-01 04:04] zjuasmn opened #27 "No notification shown at the bottom of the screen."
### Reported URL ###

<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###

TC 11-20

### Reproduction Steps ###

1. Click on the Flight1 Monitor (NoteBook name) which is listed in Objects Context Menu
2. Click on 'Start a New Entry' area
3. Enter Something (Entry1) in the text Box and Save the entry
4. Check the notification 'Notebook Entry created'

### Expected Result ###

Notificat

[2017-12-01 04:05] l0or opened #28 "Can't create a Notebook in [My Items] now ？"
I find  i can not create a Notebook in [My Items] now .So I can't test the following cases such as 11-20.
Is there something wrong ?

[2017-12-01 04:07] sdgun commented on #28
@l0or Please use the forum for questions. https://apps.topcoder.com/forums/?module=ThreadList&forumID=617979

[2017-12-01 04:07] #28 closed

[2017-12-01 04:07] zjuasmn commented on #26
@sdgun There is no rule about creating new ticket when I working on it.

[2017-12-01 04:08] sdgun commented on #26
@zjuasmn It is already there from the start. In the spec and in the ticket description itself

[2017-12-01 04:12] zjuasmn opened #29 "Right click menu in Objects Context Area is not correct"
### Reported URL ###

<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###

TC 11-20

### Reproduction Steps ###

1. Press Right click on anywhere in Objects Context Area

### Expected Result ###

1. Options should be listed
2. New NoteBook Entry option should be available to select

### Actual  Result ###

Only browser default options.

### Screenshots ###

![image](https://user-image

[2017-12-01 04:14] zjuasmn commented on #26
@sdgun all threads in Testing Phase Questions are after 10:37 am. I already submitted many doc before that.

[2017-12-01 04:20] zjuasmn opened #30 "No field marked as required(with '*') and new entry can be saved when text field is empty"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 11-20

### Reproduction Steps ###

1. Press Right click on folder in Objects Context Area
2. Check the option 'New NoteBook Entry'
3. Do not Enter the text in Entry text box and select all other required fields then click ok

### Expected Result ###

User should not be able to save the new entry as screen shou

[2017-12-01 04:22] sdgun commented on #26
@zjuasmn Did you go through the Challenge spec https://www.topcoder.com/challenges/30060879/?type=develop&noncache=true&tab=details

Take a look at point 6 'If you identify any issues of medium or higher severity log them in the repository with the Issue label. It is important to note which test case and on which step the issue occurred.'

![2017-12-01_9-51-23](https://user-images.githubuserconten

[2017-12-01 04:28] zjuasmn opened #31 "Cannot create "New NoteBook Entry" with "Link only""
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 11-20

### Reproduction Steps ###

1. Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text with the combination of Alpha-Numeric and with Special Characters in 'Entry' text box
4. Select 'Link only' from Embed Type dropdown
5. Select 'Flight1 Monitor' notebook folder

[2017-12-01 04:28] youdare opened #32 "[Windows]- Test Case 10- Timestamp is not updated as per the new entry (without having saved the previous blank entry)"
Summary:
[Windows]- Test Case 10-  Timestamp is not updated as per the new entry (without having saved the previous blank entry)

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on the Flight1 Monitor (NoteBook name) which is listed in Objects Context Menu
2. Click on 'Start a New Entry' area
3. Enter something in the text Box but do not save the en

[2017-12-01 04:31] zjuasmn opened #33 "No "New folder button" in 'New NoteBook Entry' modal"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 11-20

### Reproduction Steps ###
1. Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text in 'Entry' text box
4. Select 'Link only' from Embed Type dropdown

### Expected Result ###

There should be a "New folder button" in 'Save In Notebook'

### Actual  Result ###

[2017-12-01 04:33] sdgun commented on #32
@youdare Please assign the test case number as a label (eg: TC#19)

[2017-12-01 04:35] zjuasmn opened #34 "resize should not allow negative number"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 11-20

### Reproduction Steps ###
1. Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text in 'Entry' text box
4. Select 'Link and Snapshot' from Embed Type dropdown
5. Select Annotate Button
6. Check all the fields in Annotate snapshot screen (eg. Crop, Reverse, text,

[2017-12-01 04:35] youdare opened #35 "[Windows]- Test Case -8 - NoteBook is not showing the Display Layouts while opening the new notebook"
Summary:
[Windows]- Test Case -8 - NoteBook is not showing the Display Layouts while opening the new notebook

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
Pre-Condition:-
New NoteBook should be created - 'Flight1 Monitor'
Steps:
1.	Click on the Flight1 Monitor (NoteBook name) which is listed in Objects Context Menu

### Expected Result ###
NoteBook shoul

[2017-12-01 04:38] zjuasmn commented on #26
@sdgun the word "log" is ambiguous. I already log the issue in uploaded document and change the label in that issue. If what you want is creating a new issue, you should avoid using "log", please use "create new issue".

[2017-12-01 04:41] zjuasmn commented on #4
[Test Case Execution Summary Report 11-20.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520838/Test.Case.Execution.Summary.Report.11-20.xlsx)

[2017-12-01 04:43] youdare commented on #3
@sdgun attaching as image, Not able to attach excel

![image](https://user-images.githubusercontent.com/31862600/33468149-8416bd82-d5ed-11e7-94cf-fed9ada8cc91.png)

[2017-12-01 04:45] sdgun commented on #3
@youdare Drag and drop the file to comments area, you can attach xls and xlsx file here

[2017-12-01 04:46] sdgun commented on #4
@youdare This is completed by @zjuasmn You can't assign this ticket

[2017-12-01 04:48] youdare commented on #3
@sdgun  its not working

[2017-12-01 04:52] zjuasmn opened #36 "Timestamp of entry is not updated"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###

TC 21-30

### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select an object from Object Context Menu, drag from context menu onto an existing Entry
3. Check the timestamp

### Expected Result ###

Timestamp should be updated for the existing entry

##

[2017-12-01 04:54] zjuasmn commented on #7
[Test Case Execution Summary Report 21-30.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520469/Test.Case.Execution.Summary.Report.21-30.xlsx)

[2017-12-01 05:03] zjuasmn opened #37 "Click Object Name n a Notebook Entry should opened in new tab"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 31-40

### Reproduction Steps ###

1.   Click on Notebook 'Flight1 Monitor' which is available in Object Context   Menu
2. Select a Notebook A1:H99 which has Embed with Snapshot on it
3. Click on the Object Name which is added in a Notebook Entry

### Expected Result ###

Object should be opened in new tab wit

[2017-12-01 05:08] zjuasmn opened #38 "Right click menu of embed element is not correct"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 31-40 TC 41-50

### Reproduction Steps ###

1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Right click (by Mouse) on the Embed Element

### Expected Result ###

should be a context menu with "View Snapshot", "Re

[2017-12-01 05:20] zjuasmn opened #39 "drag & drop from display layout not working"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Drag an object from Display layout and drop it under Existing entry in Notebook

### Expected Result ###

Object Embed with Snapshot should be updated to an existing entry and timestamp should

[2017-12-01 05:22] zjuasmn commented on #10
[Test Case Execution Summary Report 31-40.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520505/Test.Case.Execution.Summary.Report.31-40.xlsx)

[2017-12-01 05:22] youdare opened #40 "[Windows]- Notification is shown as “Save Succeeded” instead 'Notebook Entry created' at the bottom of the screen"
Summary:
[Windows]- Notification is shown as “Save Succeeded” instead 'Notebook Entry created' at the bottom of the screen

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1.	Click on the Flight1 Monitor (NoteBook name) which is listed in Objects Context Menu
2.	Click on 'Start a New Entry' area
3.	Enter Something (Entry1) in the text Box and Save the entry

[2017-12-01 05:35] sdgun commented on #6
@youdare This is already assigned by @bikakk. Please check the 'Assignees' column and check if it is already taken. If YES you can't grab it.

[2017-12-01 05:35] zjuasmn opened #41 ""View Large" button not existed"
### Reported URL ###

<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 41-50

### Reproduction Steps ###
1. Click Object1 (Object with only Embed)

### Expected Result ###
There is  a "View Large" button at Object1 local controls

### Actual  Result ###

No "View Large" button, maybe it means the "enter full screen mode" button?

### Screenshots ###

![image](https://user-images

[2017-12-01 05:36] sdgun commented on #11
@youdare Only one can be assigned at a time. You have already assigned 'Test Cases 21-30'

[2017-12-01 05:51] zjuasmn opened #42 "filtering is not working properly"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 41-50

### Reproduction Steps ###
1. In search input of object context menu and Object's view, enter keyword.
2. press enter

### Expected Result ###
List should be filter properly after enter

### Actual  Result ###

1. filtering triggered after each key down.
2. some embed object without keyword is also show

[2017-12-01 05:52] zjuasmn commented on #15
[Test Case Execution Summary Report 41-50.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520558/Test.Case.Execution.Summary.Report.41-50.xlsx)

[2017-12-01 05:54] zjuasmn commented on #3
Github only support .xlsx @youdare , you should save file as xlsx and then upload.

[2017-12-01 05:54] m-prabhu commented on #2
[Test Case Execution Summary Report.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520563/Test.Case.Execution.Summary.Report.xlsx)

[2017-12-01 06:02] zjuasmn opened #43 "Deleting an Existing Notebook entry should clear Search field"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 51-60

### Reproduction Steps ###
1. Click on the 'Flight1 Monitor' (NoteBook name) which is listed in Objects Context Menu
2. Search for Text which is avaialble in the notebook entries (Eg. Cam) and Do not press enter
3. Do not delete the entry from search field, click on any existing notebook entry and delet

[2017-12-01 06:03] zjuasmn commented on #16
[Test Case Execution Summary Report 51-60.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520576/Test.Case.Execution.Summary.Report.51-60.xlsx)

[2017-12-01 06:06] zjuasmn commented on #1
@Colinh84 are you working on this issue? I see you idle for 7 hours. If you are not working on it, can I assign it to me? @sdgun

[2017-12-01 06:13] youdare opened #44 "[Windows]- Test Case 25 – No Notification is while drag from context menu onto new notebook entry"
Summary:
[Windows]- Test Case 25 – No Notification is while drag from context menu onto new notebook entry

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select object1 from Object Context Menu, drag from context menu onto new notebook entry
3. Check the timestamp
4. Select

[2017-12-01 06:16] zjuasmn opened #45 "There should be a 'New Notebook Entry' Button in View Large Dialog Modifications."
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 61-70

### Reproduction Steps ###
1. Select object1 from Object Context Menu
2. Select Snapshot

### Expected Result ###

There should be a 'New Notebook Entry' Button in View Large Dialog Modifications.

### Actual  Result ###

No such button.

### Screenshots ###

![image](https://user-images.githubuserconte

[2017-12-01 06:22] zjuasmn opened #46 "No <domain> in create button dropdown menu"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 61-70

### Reproduction Steps ###

1. Click on create button, the dropdown menu should appear.

### Expected Result ###

There should be  <domain> as notebook option in the dropdown menu. And it will have another “Create” Option at the topmost left pane to add other domain objects inside the notebook.

### Act

[2017-12-01 06:23] zjuasmn commented on #19
[Test Case Execution Summary Report 61-70.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520620/Test.Case.Execution.Summary.Report.61-70.xlsx)

[2017-12-01 06:24] zjuasmn commented on #19
[Test Case Execution Summary Report 61-70.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520624/Test.Case.Execution.Summary.Report.61-70.xlsx)

[2017-12-01 06:24] youdare opened #47 "[Windows]- Intermittent Getting save error message prompt while deleting old Entry"
Summary:
[Windows]-  Getting save error message prompt while deleting old Entry  (After Deleting wait 40 seconds)

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select object1 from Object Context Menu, drag from context menu onto new notebook entry
3. Select object2 from Ob

[2017-12-01 06:26] zjuasmn commented on #47
This is not an error message, it is a confirm message.

[2017-12-01 06:31] youdare commented on #47
@zjuasmn read the defect

[2017-12-01 06:33] zjuasmn commented on #2
@sdgun could you reject the above submission(it just pass all TCs)  to make this issue available?

[2017-12-01 06:38] youdare commented on #9
![image](https://user-images.githubusercontent.com/31862600/33470824-a04b4954-d5fd-11e7-8de3-4590defdf22a.png)

[2017-12-01 06:57] youdare opened #48 "[Windows]- Test Case 34 – “Go to Original” option is not available while Right click (by Mouse) on the Embed Element"
Summary:
[Windows]- Test Case 34 – “Go to Original” option is not available while Right click (by Mouse) on the Embed Element

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Right click (by Mouse) on the Embed El

[2017-12-01 06:59] Kvm87 opened #49 "'New Folder' button is absent in Save in Notebook."
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com

### TC Number Set ###
TC 21-30

### Reproduction Steps ###
Follow steps 1 to 7 for TC#21

### Expected Result ###

'New Folder' button is needed to proceed.

### Actual  Result ###

New Folder button is absent.

### Screenshots ###

![image](https://user-images.githubusercontent.com/20595047/33471358-f82dfcf8-d692-11e7-89d3-56a7d3af8c8f.

[2017-12-01 07:00] youdare opened #50 "[Windows]- Test Case 34 –Option are not in correct order, while Right click (by Mouse) on the Embed Element"
Summary:
[Windows]- Test Case 34 –Option are not in correct order, while Right click (by Mouse) on the Embed Element

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Right click (by Mouse) on the Embed Element
4.

[2017-12-01 07:06] youdare opened #51 "[Windows]- Test Case 35 – “Go to Original” option is not available while Right click (by Mouse) on the Embed Element(Embed without having Snapshot)"
Summary:
[Windows]- Test Case 35 – “Go to Original” option is not available while Right click (by Mouse) on the Embed Element (Embed without having Snapshot)
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Right c

[2017-12-01 07:16] zjuasmn opened #52 "Drag & drop into notebook in layout not working properly"
### Reported URL ###

<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 71-83

### Reproduction Steps ###

1. Add “Test Notebook” to “Test Layout”.
2. Drag a object and place it in drag and drop area in the notebook.
3. Save the changes.

### Expected Result ###

New entry should be visible at the top of the entry items in the list.

### Actual  Result ###

New entry in “Test Lay

[2017-12-01 07:23] Kvm87 opened #53 "Entry saved in 'Shift1-Flight*crew' is not displayed in 'Flight1 Monitor'"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
TC 21-30

### Reproduction Steps ###
1. Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text in 'Entry' text box
4. Select 'Link and Snapshot' from Embed Type dropdown
5. Select Annotate Button
6. Select the graph by cropping whatever is required and click ok
7. Multi

[2017-12-01 07:25] zjuasmn opened #54 "Entry time is not correct"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
*Eg: TC 1-10, TC 11-20 etc...*

### Reproduction Steps ###

1. create new entry before 12 p.m.
2. create new entry after 12 p.m.

### Expected Result ###

Time of new entry is correct.

### Actual  Result ###

Time not correct.

### Screenshots ###

(current time in my computer is 2017-12-01 15:19:17 GMT+8)
![

[2017-12-01 07:25] youdare opened #55 "[Windows]- Test Case 38 – cropping, inserting text etc are not getting reflected after clicking “Ok” button” in the Annotate shapshot"
Summary:
[Windows]- Test Case 38 –  cropping, inserting text etc are not getting reflected after clicking “Ok” button” in the Annotate shapshot
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Right click (by Mouse

[2017-12-01 07:32] Kvm87 opened #56 "'New Folder' button absent in 'Save in Notebook'"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
TC 21-30

### Reproduction Steps ###

1.   Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text in 'Entry' text box
4. Select 'Link only' from Embed Type dropdown
5. Try to observe 'New Folder' button in ' Save in Notebook'

### Expected Result ###

'New Folder' butto

[2017-12-01 07:36] zjuasmn opened #57 "Right click menu of embed object in layout is not correct"
### Reported URL ###
<http://nasa-mct-notebook.herokuapp.com/>

### TC Number Set ###
TC 71-83

### Reproduction Steps ###

1. Select “ test Layout” from the tree view.
2.  Right click on the embedded object.
### Expected Result ###

should be a context menu with "View Snapshot", "Remove...", "Remove Snapshot.."

### Actual  Result ###

right click menu is browser default menu.

### Screenshots ##

[2017-12-01 07:37] youdare commented on #11
![image](https://user-images.githubusercontent.com/31862600/33472476-cd623e22-d605-11e7-9493-b363428a0f81.png)

[2017-12-01 07:37] zjuasmn commented on #22
[Test Case Execution Summary Report 71-83.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520758/Test.Case.Execution.Summary.Report.71-83.xlsx)

[2017-12-01 07:39] youdare commented on #11
@sdgun moved with m-prabhu  approval(he is not working)

[2017-12-01 07:40] zjuasmn commented on #2
[Test Case Execution Summary Report 1-10.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520762/Test.Case.Execution.Summary.Report.1-10.xlsx)

[2017-12-01 07:41] zjuasmn commented on #1
[Test Case Execution Summary Report 1-10.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520764/Test.Case.Execution.Summary.Report.1-10.xlsx)

[2017-12-01 07:48] basic60 opened #58 "Deleting an Existing Notebook entry when an entry exists in the Search field will not clear the search filter input"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 51-60

### Reproduction Steps ###
1. Click on the 'Flight1 Monitor' (NoteBook name) which is listed in Objects Context Menu
2.  Search for Text which is avaiable in the notebook entries and Do not press enter
3. Do not delete the entry from search field, click on any existing notebook entry and delete it

### Ex

[2017-12-01 07:58] youdare commented on #3
[Test Case Execution Summary Report 1-10.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520792/Test.Case.Execution.Summary.Report.1-10.xlsx.xlsx)

[2017-12-01 07:59] youdare commented on #35
[Test Case Execution Summary Report 1-10.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520798/Test.Case.Execution.Summary.Report.1-10.xlsx.xlsx)

[2017-12-01 08:01] youdare commented on #3
[Test Case Execution Summary Report 1-10.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520804/Test.Case.Execution.Summary.Report.1-10.xlsx.xlsx)

[2017-12-01 08:02] youdare commented on #9
[Test Case Execution Summary Report 21-30.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520806/Test.Case.Execution.Summary.Report.21-30.xlsx.xlsx)

[2017-12-01 08:02] youdare commented on #11
[Test Case Execution Summary Report 31-40.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520809/Test.Case.Execution.Summary.Report.31-40.xlsx.xlsx)

[2017-12-01 08:06] basic60 commented on #17
[Test Case Execution Summary Report51-60.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520815/Test.Case.Execution.Summary.Report51-60.xlsx)

[2017-12-01 08:38] youdare commented on #18
[Test Case Execution Summary Report 51 -60.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520894/Test.Case.Execution.Summary.Report.51.-60.xlsx.xlsx)

[2017-12-01 08:53] mockmew commented on #38
The same issue.

Device: MacBook Pro

OS: macOS High Sierra

Browser: Safari

<img width="1440" alt="screen shot 2017-12-01 at 4 11 22 pm" src="https://user-images.githubusercontent.com/17176123/33475097-1e505d48-d6b8-11e7-8637-033bb1020ffe.png">

[2017-12-01 09:06] mockmew commented on #14
[Test Case Execution Summary Report- 41- 50.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1520945/Test.Case.Execution.Summary.Report-.41-.50.xlsx)

[2017-12-01 09:07] aniketofficial commented on #42
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 61-70

### Reproduction Steps ###
1. select Notebook from Object Context menu.
2. Enter keyword in search input.
3. press enter.

### Expected Result ###

1.Filtering should happen properly. According to test case filtering should happen after hitting enter.

### Actual  Result ###

1. Filtering is happening aft

[2017-12-01 09:11] aniketofficial commented on #46
### Screenshots ###
In drop down menu of <b>Create</b> no option called Domain available.

![screen shot 2017-12-01 at 2 38 39 pm](https://user-images.githubusercontent.com/8258186/33475785-a7b80260-d6a5-11e7-8d50-f308bcde4ee0.png)

### Issue Information ###

Frequency: Everytime

Device: MacBook Air

OS: macOS Sierra

Browser: Google Chrome Version 62.0.3202.94 (Official Build) (64-bit)

[2017-12-01 09:23] aniketofficial commented on #38
The same issue has been observerd for TC set 61-70

### TC Number Set ###
 TC 61-70

### Screenshots ###

![screen shot 2017-12-01 at 2 52 08 pm](https://user-images.githubusercontent.com/8258186/33476220-3c5c69c8-d6a7-11e7-8c16-fe44c01cd4f4.png)

### Issue Information ###

Frequency: Everytime

Device: MacBook Air

OS: macOS Sierra

Browser: Google Chrome Version 62.0.3202.94 (Official Build) (64

[2017-12-01 09:24] aniketofficial commented on #20
There were issues already created for the failed test cases. So  I have commented my observations on those issues.
Issues has been updated with proper labels as well.
The test case execution summary report is attached below

[Test_Case_Execution_Summary_Report_61-70.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521003/Test_Case_Execution_Summary_Report_61-70.copy.xlsx)

[2017-12-01 09:42] youdare opened #59 "[Windows]- Test Case 70 – If you hover on the “Test Notebook” menu, properties of the notebook is not changed on the right side of column"
Summary:
[Windows]- Test Case 70 –  If you hover on the “Test Notebook” menu, properties of the notebook is not changed on the right side of column.
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on create button, the dropdown menu should appear.
2. Select <domain> as notebook.
3. Give the appropriate <name> to the notebook.
### Expected Result ###

[2017-12-01 09:43] youdare commented on #21
[Test Case Execution Summary Report 61 -70.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521093/Test.Case.Execution.Summary.Report.61.-70.xlsx.xlsx)

[2017-12-01 10:09] aniketofficial commented on #24
[Test_Case_Execution_Summary_Report_71-83.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521163/Test_Case_Execution_Summary_Report_71-83.xlsx)

[2017-12-01 10:34] youdare opened #60 "[Windows]- Test Case 72 – When Notebook is added to Display Layouts . we are not able to add the Entries on display layouts."
Summary:
[Windows]- Test Case 72 – When  Notebook is added to Display Layouts . we are not able to add the  Entries on  display layouts.
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
Pre-Condition:
1. Given a notebook named “Test Notebook” to add in Display Layout.
2. Given a Display Layout with name “Test Layout”.
3. Given two object entries in “Test Layo

[2017-12-01 10:34] aniketofficial commented on #24
[Test_Case_Execution_Summary_Report_71-83.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521240/Test_Case_Execution_Summary_Report_71-83.xlsx)

[2017-12-01 10:49] Kvm87 opened #61 "Incorrect Notification message"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
TC 21-30

### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select object1 from Object Context Menu, drag from context menu onto new notebook entry
3. Check the timestamp
4. Select object2 from Object Context Menu, drag from context menu onto new not

[2017-12-01 10:56] m-prabhu commented on #11
@sdgun , @wdprice: people are not following bug hunt process. Only copilot / pm can reassign the ticket. Why another challenger is removing and reassigning the ticket himself that too claiming he took approval from another contestant. I never seen these behavior in Topcoder bug hunt.

[2017-12-01 11:00] youdare commented on #11
@m-prabhu i got approval from You, you where not working.
Simply dont blame now, this not fair.
@sdgun you can assign different issue. if required

[2017-12-01 11:04] Kvm87 opened #62 "Timestamp updation issue in a given scenario"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
TC 21-30

### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select object1 from Object Context Menu, drag from context menu onto an existing Entry2
3. Check the timestamp
4. Select object2 from Object Context Menu, drag from context menu onto an exis

[2017-12-01 11:12] m-prabhu commented on #11
@youdare Please be polite.
@sdgun @wdprice Please make contestant to understand the topcoder bug hunt rules and processes. This spoiling the contest.

[2017-12-01 11:15] youdare commented on #11
@m-prabhu
Assigning to you, I will be always be polite

[2017-12-01 11:20] Kvm87 opened #63 "Notification Mismatch"
### Reported URL ###
*URL where the issue occured, if applicable*

### TC Number Set ###
TC 21-30

### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Click on object1 from Object Context Menu
3. Check both Notebook and Object shown in Display Layout
4. Create a new entry in Notebook with Link only
5. Check Notification

### Expected Resul

[2017-12-01 11:30] ghost commented on #8
[Test Case Execution Summary Report 21-30.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521404/Test.Case.Execution.Summary.Report.21-30.xlsx)

[2017-12-01 11:40] sdgun commented on #11
@youdare This ticket is assigned to @m-prabhu

[2017-12-01 12:06] youdare opened #64 "[Mobile] – Not able to use MCT Notebook application in mobile , Application stays in home page scree"
Summary:
[Mobile] – Not able to use MCT Notebook application in mobile , Application stays in home page screen
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
Pre-Condition:
Launch http://nasa-mct-notebook.herokuapp.com/ in mobile
### Expected Result ###
[Mobile] – Should allow to use MCT Notebook application in mobile
### Actual  Result ###
[Mobile] – Not a

[2017-12-01 12:09] youdare opened #65 "[Ipad] – Not able to use MCT Notebook application in Ipad , Application is displaying error message as” There is noting here."
Summary:
[Ipad] – Not able to use MCT Notebook application in Ipad , Application is displaying error message as” There is noting here.
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
Pre-Condition:
Launch http://nasa-mct-notebook.herokuapp.com/ in Ipad
### Expected Result ###
[ipad] – Should allow to use MCT Notebook application in mobile
### Actual  Result

[2017-12-01 12:56] bikakk commented on #30
Able to save the notebook without any entry field:
![image](https://user-images.githubusercontent.com/31851673/33483683-ec09c8d6-d696-11e7-9bd3-f6346f1911b5.png)

[2017-12-01 13:16] bikakk commented on #33
New Folder button is missing:
![image](https://user-images.githubusercontent.com/31851673/33484375-db56ffec-d699-11e7-9d98-142539ed2ec6.png)

[2017-12-01 13:16] m-prabhu opened #66 "Right Click Context Menu not working"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/#/browse/mine/58418286-aaad-48ef-aa07-92956e3ad01b?tc.mode=local&tc.timeSystem=utc&tc.startDelta=1800000&tc.endDelta=0&view=notebook.view

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Visit the above url
2. Click on Notebook 'flight monitor' which is available in Object Context Menu
3. Select a Notebook Entry which has Em

[2017-12-01 13:30] m-prabhu opened #67 "Object opens in same TAB. Not in New Tab"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/#/browse/mine/74b7687c-9c82-4d4c-9977-3de50966e37c?tc.mode=local&tc.timeSystem=utc&tc.startDelta=1800000&tc.endDelta=0&view=notebook.view

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Visit above url
2. Select a Notebook Entry which has Embed with Snapshot on it
3. Click on the Object Name which is added in a Notebook Ent

[2017-12-01 13:37] bikakk opened #68 "After cancelling the Annotate Snapshot screen then it is not redirected to Create a Notebook entry screen"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 11-20

### Reproduction Steps ###
1. Press Right click anywhere in Objects Context Area
2. Select 'New NoteBook Entry'
3. Enter text in 'Entry' text box
4. Select 'Link and Snapshot' from Embed Type dropdown
5. Select Annotate Button
6. Annotate Snapshot window should be opened asking to select the snapshot
7. D

[2017-12-01 13:45] m-prabhu commented on #11
[Test Case Execution Summary Report_31_40.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521772/Test.Case.Execution.Summary.Report_31_40.xlsx)

[2017-12-01 13:59] bikakk commented on #32
Times stamp is not updated:
![image](https://user-images.githubusercontent.com/31851673/33485847-d0e11786-d69f-11e7-921b-0da5807be479.png)

[2017-12-01 14:12] bikakk commented on #6
[Test Case Execution Summary Report_11-20.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1521855/Test.Case.Execution.Summary.Report_11-20.xlsx)

[2017-12-01 15:00] youdare commented on #5
[Test.Case.Execution.Summary.Report.11-20.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1524950/Test.Case.Execution.Summary.Report.11-20.xlsx)

[2017-12-01 15:05] Colinh84 commented on #1
@zjuasmn The rules state we have 24 hours to submit for each issue, I am still within the rules to work on this and I am submitting very soon.

[2017-12-01 18:59] Colinh84 opened #69 ""Create" Menu is missing when viewing on mobiles and tablets"
Using tablets or mobile devices, the "Create" menu button is missing from the top left corner.

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com

### TC Number Set ###
TC 1-10

### Reproduction Steps ###
1. On a mobile device or tablet, using Chrome or Firefox, visit the URL: http://nasa-mct-notebook.herokuapp.com
2. After page loads, there is no "Create" menu button in top left corner.

[2017-12-01 19:32] Colinh84 opened #70 "Created Notebooks sometimes are not automatically open after being created"
There is an intermittent issue where after creating a Notebook, the new Notebook is not displayed on the center panel of the screen and instead it shows the contents of the current folder.

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com

### TC Number Set ###
TC 1-10

### Reproduction Steps ###
1. Create a new notebook, with any name and click OK
2. Notebook is saved, and center panel

[2017-12-01 20:23] Colinh84 opened #71 ""Start Time" and "End Time" fields are not present in Notebook page."
I cannot find where the "Start Time" and "End Time" fields are in the created Notebook pages as mentioned in TC 8. There is only a time bar at the bottom, but it is consistent across all Notebooks and doesn't seem to correspond to each individual Notebook.

### Reported URL ###
http://nasa-mct-notebook.herokuapp.com

### TC Number Set ###
TC 1-10

### Reproduction Steps ###
1. Click on the Flight1

[2017-12-01 20:32] Colinh84 opened #72 "Timestamp is not updated when text is added to a new entry in a Notebook"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com

### TC Number Set ###
TC 1-10

### Reproduction Steps ###
1. Click on the Flight1 Monitor (NoteBook name) which is listed in Objects Context Menu
2. Click on 'Start a New Entry' area
3. Enter Something in the text Box but do not save the entry details

### Expected Result ###

Timestamp should update after text is added to an empty entry

[2017-12-01 20:59] Colinh84 commented on #1
[Test Case Execution Summary Report Cases 1-10.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1522962/Test.Case.Execution.Summary.Report.Cases.1-10.xlsx)

[2017-12-02 04:20] youdare commented on #12
@sdgun Could you please re-open , almost it crossed 20 hours

[2017-12-02 04:22] sdgun commented on #12
@mpriyad You have 1 hr to finish this task

[2017-12-02 04:24] mpriyad opened #73 "Right Click on the embed element is not working"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
 TC 31-40

### Reproduction Steps ###
1. Click on a Notebook  which is available in Object Context Menu. Ensure that the notebook has an embedded object with a snapshot.
2. Select the Notebook Entry which has Embed with Snapshot on it
3. Right click (by Mouse) on the Embed Element and check all options

### Expecte

[2017-12-02 04:28] youdare opened #74 "[Windows]- Test Case 41 – Application is not allowing to Click on 'Annotate' Button and Crop the snapshot When an Embed doesn't have a Snapshot,"
Summary:
[Windows]- Test Case 41 –  Application is not allowing to Click on 'Annotate' Button and Crop the snapshot  When an Embed doesn't have a Snapshot,
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click on Notebook 'Flight1 Monitor' which is available in Object Context Menu
2. Select a Notebook Entry which has Embed without Snapshot on it
3. click

[2017-12-02 04:32] mpriyad opened #75 "Both notebook and object selected are not shown at the same time in display layout"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Ensure few objects are present already.
2. Create a notebook nd add an entry.
3. Click on the notebook from object context menu. Details are displayed in the details layout.
4. Click on one of the object to show in display layout

### Expected Result ###

Both notebook and th

[2017-12-02 04:39] mpriyad opened #76 "User is not able to drag an object from the display layout and drop in to new entry in notebook"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Ensure at least a notebook and an object are present.
2. Select the notebook and the object from the object context menu to be displayed in display layout (Note: https://github.com/topcoderinc/mct-test-case-execution/issues/75)
3. Try to drag the object under an existing entr

[2017-12-02 04:39] mpriyad commented on #76
linked to https://github.com/topcoderinc/mct-test-case-execution/issues/75

[2017-12-02 04:45] mpriyad opened #77 "Object details are shown in the same tab, no new tab is opened when an object is selected"
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/

### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1.  Create a notebook and add an notebook entry to it. Drag and drop an object to the entry so that the embed object and snapshot both are present.
2. Select the Notebook Entry which has Embed with Snapshot on it
3. Click on the Object Name which is added in a Notebook Entry

##

[2017-12-02 04:51] mpriyad opened #78 ""View Snapshot" option opens the object details in a pop-up on the same tab, no new tab is opened."
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### TC Number Set ###
TC 31-40

### Reproduction Steps ###
1. Click on A Notebook which is available in Object Context Menu. If not present already, create a notebook entry with an embedded object and snapshot.
2. Select the Notebook Entry
3. Right click (by Mouse) on the Embed Element (Note: https://github.com/topcoderinc/mct-test-case-

[2017-12-02 04:54] mpriyad commented on #12
Attaching the test execution report
[Test.Case.Execution.Summary.Report.31-40.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1523575/Test.Case.Execution.Summary.Report.31-40.xlsx)

[2017-12-02 05:00] youdare commented on #12
@mpriyad All test case failed? How come !!

@sdgun can i attach My report also? Please confirm?

[2017-12-02 05:05] mpriyad commented on #12
@youdare Few points
1. Even if more than 20 hours are past, as per the rule, we have time up to 24 hours and it is up to me as the assignee, how and when to complete the task within my allocated time.
2. I have attached my report already and it is for the reviewer to review and decide.
3. Patience is the key.

[2017-12-02 05:26] youdare opened #79 "[Windows]- Test Case 43 – Not able to add New Notebook Entry From Object's View notebook icon"
Summary:
[Windows]- Test Case 43 –  Not able to add New Notebook Entry From Object's View notebook icon
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
Pe-condition- New NoteBook should be created - 'Flight1 Monitor
1. Click on  Object from Object context menu
2. Check NoteBook Entry symbol which is added at Object's local Controls
3. Select that Notebook en

[2017-12-02 06:22] youdare opened #80 "[Windows]- Test Case 46 – View Large Button and Notebook buttons are shown only when we move mouse over the display layout."
Summary:
[Windows]- Test Case 46 –  View Large Button and Notebook buttons are shown only when we move mouse over the display layout.
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com/
### Reproduction Steps ###
1. Click Object1 (Object with only Embed)
2. Check View Large button at Object1 local controls
3. Click on View Large Button
### Expected Result ###
View Large Button and Noteboo

[2017-12-02 06:25] youdare commented on #13
[Test Case Execution Summary Report 41-50.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1523605/Test.Case.Execution.Summary.Report.41-50.xlsx.xlsx)

[2017-12-02 07:23] youdare commented on #23
[Test Case Execution Summary Report 71 -83.xlsx.xlsx](https://github.com/topcoderinc/mct-test-case-execution/files/1523623/Test.Case.Execution.Summary.Report.71.-83.xlsx.xlsx)

[2017-12-03 16:01] youdare opened #81 "Test Case 16 - User is able to create the new entry without Entering the text in “Entry text” box , While Adding a new Entry to the Object Context Menu"
Summary:
Test Case 16 - User is able to create the new entry without  Entering the text in “Entry text” box , While Adding a new Entry to the Object Context Menu
### Reported URL ###
http://nasa-mct-notebook.herokuapp.com
### TC Number Set ###
 TC 11-20

### Reproduction Steps ###
1. Press Right click on anywhere in Objects Context Area
2. Check the option 'New NoteBook Entry'
3. Do not Enter the

[2017-12-05 06:09] sdgun commented on #32
Similar Issue: https://github.com/topcoderinc/mct-test-case-execution/issues/72

[2017-12-05 06:15] #72 closed

[2017-12-05 06:18] sdgun commented on #35
Please check https://github.com/topcoderinc/mct-test-case-execution/issues/71 also

[2017-12-05 11:01] youdare commented on #35
@sdgun  We have start date and End Date Time at bottom of the page ,

Please refer my Expected screenshot, we will be having start and end Time fields in the NoteBook page.

Issue 71 working fine

[2017-12-05 19:05] sdgun commented on #81
https://github.com/topcoderinc/mct-test-case-execution/issues/30

[2017-12-05 19:05] #81 closed

[2017-12-05 19:17] sdgun commented on #68
TC#20

7. Do not select anything in Annotate Snapshot and just cancel > Annotate Snapshot screen should be closed and redirected to Create a Notebook entry screen. **But now the Create a Notebook entry screen is closed**
8. Check all the entries which are entered/selected earlier in 'Create a Notebook Entry' screen > Entry text and selected fields should remain same. **But now the Create a Noteboo

[2017-12-06 02:08] sdgun commented on #49
https://github.com/topcoderinc/mct-test-case-execution/issues/33

[2017-12-06 02:08] #49 closed

[2017-12-06 02:13] #53 closed

[2017-12-06 02:15] sdgun commented on #56
#33

[2017-12-06 02:15] #56 closed

[2017-12-06 02:30] sdgun commented on #61
https://github.com/topcoderinc/mct-test-case-execution/issues/27

[2017-12-06 02:30] #61 closed

[2017-12-06 02:30] sdgun commented on #44
https://github.com/topcoderinc/mct-test-case-execution/issues/27

[2017-12-06 02:30] #44 closed

[2017-12-06 02:31] sdgun commented on #27
No Notification is shown

Error displayed : angular.js:10661 PUT https://test3d.cloudant.com/openmct/0508f99d-9f63-41b8-8f6b-8b33355052a6 409 (Conflict)

![2017-12-06_8-00-26](https://user-images.githubusercontent.com/4592712/33641470-9a6c07aa-da5b-11e7-94c1-9c54a5c69d75.jpg)

[2017-12-06 08:15] #47 closed

[2017-12-06 08:20] sdgun commented on #47
https://www.screencast.com/t/jimChu92F

[2017-12-06 08:30] sdgun commented on #62
https://github.com/topcoderinc/mct-test-case-execution/issues/36

[2017-12-06 08:30] #62 closed

[2017-12-06 08:31] sdgun commented on #36
This may be a Test Case Issue but counting this as a valid issue

[2017-12-06 08:38] sdgun commented on #63
https://github.com/topcoderinc/mct-test-case-execution/issues/27

[2017-12-06 08:38] #63 closed

[2017-12-06 08:39] youdare commented on #47
@sdgun , As i mentioned this is an intermittent issue.
You will get this issue at-least 1 time  in 10 times of deletion.

[2017-12-06 08:49] sdgun commented on #47
@youdare This happens because TC#28, Step 2 and 4 (Drag and drop items) NOT because of Delete function. You can double check this by drag and drop two items to an existing entry and wait 10-15sec Must be an issue with Save function.

But you can see the object is deleting

[2017-12-06 10:09] sdgun commented on #76
https://github.com/topcoderinc/mct-test-case-execution/issues/39

[2017-12-06 10:09] #76 closed

[2017-12-06 10:29] sdgun commented on #37
New tab means new window in the test case. Closing this bug, but counting as a valid one.

[2017-12-06 10:29] #37 closed

[2017-12-06 10:29] sdgun commented on #67
New tab means new window in the test case.
The bug is valid according to the test case steps. Because there is an issue with the test case closing it; But **counted as a valid issue**. No need to fix from application end.

[2017-12-06 10:29] #67 closed

[2017-12-06 10:29] sdgun commented on #77
New tab means new window in the test case. Closing this bug, but counting as a valid one.

[2017-12-06 10:29] #77 closed

[2017-12-06 10:55] sdgun commented on #39
The bug is valid according to the test case steps. Because there is an issue with the test case closing it; But counted as a valid issue. No need to fix from application end.

[2017-12-06 10:55] #39 closed

[2017-12-06 10:56] sdgun commented on #38
The bug is valid according to the test case steps. Because there is an issue with the test case closing it; But **counted as a valid issue**. No need to fix from application end.

[2017-12-06 10:56] #38 closed

[2017-12-06 10:57] sdgun commented on #66
The bug is valid according to the test case steps. Because there is an issue with the test case closing it; But **counted as a valid issue**. No need to fix from application end.

[2017-12-06 10:57] #66 closed

[2017-12-06 10:59] #78 closed

[2017-12-06 11:37] sdgun commented on #74
In step 4. Select 'Create Snapshot' option user is creating a snapshot. So after that user can 'Annotate' the created snapshot by Clicking on the drop-down (Blue) arrow > 'Annotate Snapshot' link

[2017-12-06 11:37] #74 closed

[2017-12-06 11:41] youdare commented on #74
@sdgun , basic issue is we are not able to use crop, Text after clicking Annotate

We are able to click Annotate button, Issue in Typing

[2017-12-06 11:48] sdgun commented on #74
@youdare You stated

- After user added a new snapshot and then click on the drop-down (Blue) arrow > 'Annotate Snapshot') will open a popup window. (Currently, the CROP icon is disabled) Now mark a selection will enable the   CROP tool

![2017-12-06_17-19-55](https://user-images.githubusercontent.com/4592712/33660455-d31aafa4-daa9-11e7-9556-b48d550a925a.jpg)

[2017-12-06 14:57] sdgun commented on #79
Valid, Error message displayed

This happens when the user selects an existing 'NoteBook Entry' from the right-hand side 'Object's View'. If user is clicking on the 'Create NoteBook Entry' symbol while 'Style Guide Home' or 'My Items' selected, this won't happen

Test case mentioned about selecting an item from  'Object's View'. > 1. Click on Object from Object context menu

[code]

[2017-12-06 15:31] sdgun commented on #80
Working as expected

[2017-12-06 15:31] #80 closed

[2017-12-06 15:38] sdgun commented on #41
When you click on the Object name with only Embed link, you can see some items, Hover over it and you will see 'View Large' icon.
![2017-12-06_21-07-50](https://user-images.githubusercontent.com/4592712/33669859-9091f442-dac9-11e7-9820-f1139dd3b221.jpg)

[2017-12-06 15:38] #41 closed

[2017-12-06 16:01] sdgun commented on #42
There is an issue with searching;

- Sometimes search happens when user enters 3 or more characters
- Sometimes invalid search keywords will display incorrect search results

[2017-12-06 16:10] sdgun commented on #58
https://github.com/topcoderinc/mct-test-case-execution/issues/43

[2017-12-06 16:10] #58 closed

[2017-12-06 17:05] sdgun commented on #55
Working for me

[2017-12-06 17:05] #55 closed

[2017-12-06 17:06] sdgun commented on #29
TC Issue. Must right click on the Object area not in an empty place, But counting as a valid defect.

[2017-12-06 17:06] #29 closed

[2017-12-06 17:18] #46 closed

[2017-12-06 17:20] sdgun commented on #51
https://github.com/topcoderinc/mct-test-case-execution/issues/48

[2017-12-06 17:22] sdgun commented on #64
Check this also https://github.com/topcoderinc/mct-test-case-execution/issues/65

[2017-12-06 17:22] sdgun commented on #65
https://github.com/topcoderinc/mct-test-case-execution/issues/64

[2017-12-06 17:22] #65 closed

[2017-12-06 17:23] #73 closed

[2017-12-06 17:54] youdare commented on #51
@sdgun Defect 51 and 48 are different

51 say - “Go to Original” option is not available while Right click (by Mouse) on the Embed Element **(Embed without having Snapshot)**

48 say - “Go to Original” option is not available while Right click (by Mouse) on the Embed Element **(Embed with Snapshot and link)**

51 is Embed without having Snapshot and 41 is Embed with Snapshot and link, So its valid

[2017-12-06 18:04] youdare commented on #74
@sdgun, Its valid defect

1. Created New Notebook Entry Embed without link (Embed doesn't have a Snapshot)

2. click (drop down) on the Embed
3.Select 'Create Snapshot' option
![image](https://user-images.githubusercontent.com/31862600/33677127-c64a82f2-dadd-11e7-95ea-7aa973bd31ab.png)
![image](https://user-images.githubusercontent.com/31862600/33677133-ca7ad39a-dadd-11e7-91a5-d7bbb5044a2b.png)

4

[2017-12-06 18:09] youdare commented on #80
@sdgun , Just gone through requirement document , Mouse Hover is not mentioned anywhere.
i already attached "Expected" screenshot from requirement.

[2017-12-06 20:42] sdgun commented on #74
@youdare I this contest we are paying for test case execution, not for reported bugs. Some steps are missing in TC Document so no need to fix the application here, that is why I have closed this issue.

[2017-12-06 20:43] sdgun commented on #80
@youdare I this contest we are paying for test case execution, not for reported bugs. Some steps are missing in TC Document so no need to fix the application here, that is why I have closed this issue.

[2017-12-06 21:29] sdgun commented on #57
Test case Issue, Instead Right click >  Click on the drop-down (Blue) arrow on the embedded display layout.

[2017-12-06 21:32] sdgun commented on #59
Test Case Issue